.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: whitesmoke;
}

.header__titulo{
    color: #d90429;
}

.header__info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
}

.header__user{
    display: flex;
    align-items: center;
}

.header__icono{
    margin-left: .5rem;
    border-radius: 50%;
    color: #696565;
}

.header__logout{
    border: 2px solid #d90429;
    color: #d90429;
    border-radius: 10px;
    padding:.6rem 2rem;
    background-color: transparent;
    font-weight: 700;
    cursor: pointer;
}

.header__logout:hover{
    background-color: #d90429;
    color: #f7f7f7;

}
/* Estilos básicos para el footer */
.footer {
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  }
  
  .creators {
    font-size: 18px;
  }
  
  .copyright {
    margin-top: 10px;
    font-size: 14px;
  }
  

  
  
  
  

  
  
  